body{
    background-color:white;
    margin: 0;
    padding: 0;
}

.flexContainerHeader {
    display: flex;
    height: 80px;
    width: 100%;
    background: lightgrey;
}

#searchbox {
    width: 80%;
    margin-top:20px;
    display:flex;
    width:80%;
}


#search {
    height: 40px;
    width: 100%;
    font: 16px Arial, Helvetica;
    border: 1px solid dimgrey;
    padding: 5px 10px;
    margin-right: 6px;
}

/* ----------------------- */

#submit
{
    border:1px solid dimgrey;
    height:40px;
    width: 40px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: white;

}

#submit:hover {
    background-color: black;

}

#logo {
    height: 70px;
    width: 70px;
    margin: 5px 5px;
}



