body{
    background-color:white;
    margin: 0;
    padding: 0;
}

.flexContainerHeader {
    display: flex;
    height: 90px;
    width: 100%;
    background: #e5e5e5;
}

#searchbox {
    width: 60%;
    min-width:280px;
    margin-top:20px;
    display:flex;
    width:80%;
}


#search {
    height: 50px;
    width: 80%;
    font: 16px Arial, Helvetica;
    border: 1px solid dimgrey;
    padding: 5px 10px;
    margin-right: 8px;
    border-radius: 3px;
}

/* ----------------------- */

#submit
{
    border:1px solid dimgrey;
    height:50px;
    width: 50px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: white;
    border-radius: 25px;

}

#submit:hover {
    background-color: black;

}

#logo {
    height: 80px;
    width: 80px;
    margin: 5px 5px;
}

#welcomeMessage {
text-align: center;
    font: bold 40px Helvetica;
    color: grey;
}



