
{{define "header"}}
<head>
<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
<div class="flexContainerHeader">

    <div>
        <img src="/static/img/logo.png" id="logo">
    </div>
        <form id="searchbox" action="">

            <input id="search" type="text" placeholder="Search MeanValue for phones..">
            <input id="submit" type="submit" value="Go">
            <p id="meanvalue">MeanValue</p>


        </form>


</div>


</head>

{{end}}


{{define "item"}}
<div><a href="/item/{{.Id.Hex}}">{{.Name}} - {{.Price}}$</a></div>
{{end}}