
{{define "head"}}
<head>
    <title>MeanValue</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>



</head>




{{end}}


{{define "header"}}
<header class="flexContainerHeader">

    <div>
        <a href="/"><img src="/static/img/logo.png" id="logo"></a>
    </div>
    <form id="searchbox" action="">

        <input id="search" type="text" placeholder="Search MeanValue for phones..">
        <input id="submit" type="submit" value="Go">

        <img class="meanValueImg" src="/static/img/meanValue.png">


    </form>



</header>

{{end}}

{{define "item"}}
<div class="listing"><a href="/item/{{.Id.Hex}}">{{.Title}}</a>
    <br /> <b>Price:</b> {{.Price}}$
</div>

</div>
{{end}}

{{define "product"}}
<div class="listing"><a href="/view/{{.FullName}}">{{.Model}} from {{.Brand}}</a>
    <br /> <b>Average Price:</b> {{.AveragePrice}}$ (Last 30 days)
    <br /> <span class="high"><b> Highest:</b> {{.HighestPrice}} </span>,  <span class="low"><b>Lowest:</b> {{.LowestPrice}}</span>
    <br /> <b>Number of Listings</b>: {{.Num}}

</div>

</div>
{{end}}