{{template "head" .}}

<body>
<link href="/static/css/nv.d3.css" rel="stylesheet" type="text/css">
<link href="/static/css/stats.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="/static/js/nv.d3.min.js"></script>

{{template "header" .}}


<div id="result" class='with-3d-shadow with-transitions'>
  <h1>Number of listings per brand:</h1>
  <svg id="shareGraph" class="pieChart"></svg>
  
  {{ range $index, $brand := . }}
  <h1>{{$brand.Name}}</h1>
  <br>
  Listings: {{$brand.Num}}
  <br>
  Prices:
  <br>
  Average: {{$brand.AveragePrice}}
  Highest: {{$brand.HighestPrice}}
  Lowest: {{$brand.LowestPrice}}
  
  {{ end }}
</div>

<script src="/static//js/stats.js"></script>
</body>


